<template>
  <div
    class="grid min-h-screen grid-cols-1 px-8 md:px-16 xl:grid-cols-2 gradient-gray"
  >
    <div>
      <h1 class="mt-16 text-4xl font-hairline text-center md:text-6xl">
        Example UI Components
      </h1>

      <InfoSnippet title="Who" description="Jack Cooper" />
      <InfoSnippet title="Where" description="South East England" />
      <InfoSnippet title="What" description="Full Stack Developer" />

      <p class="mt-16 mb-8 font-light text-gray-600">
        Hi, I'm Jack. I built this site over a few days one week as a showcase
        of what I can create. To navigate, simply use the arrow keys if you've
        got a keyboard, or swipe left and right on a touchscreen!
      </p>
      <p class="font-light text-gray-600">
        Under the hood it uses
        <span class="font-semibold">Vue 3</span>,
        <span class="font-semibold">Tailwind</span> and
        <span class="font-semibold">TypeScript</span> to deliver a simple but
        fully fledged, fully responsive SPA. There's not really much of a
        backend to it but I can do that bit too! If you're interested in the
        code behind the scenes you can find it
        <a
          href="https://gitlab.com/jack-cooper/ui-components"
          target="_blank"
          class="text-indigo-500"
          >here</a
        >.
      </p>
    </div>

    <div>
      <HeroImage />
    </div>

    <div class="pt-4 xl:col-span-2">
      <h2 class="text-2xl font-hairline">What I can do:</h2>
      <div class="flex flex-wrap mt-4 justify-evenly">
        <SkillCard
          v-for="skillCard of skillCards"
          :key="skillCard.title"
          v-bind="skillCard"
        />
      </div>
    </div>

    <div class="pt-4 xl:col-span-2">
      <h2 class="text-2xl font-hairline">Contact Details</h2>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">
        <ContactInfoCard
          v-for="contactInfoCard of contactInfoCards"
          :key="contactInfoCard.title"
          v-bind="contactInfoCard"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import InfoSnippet from '@/components/InfoSnippet.vue'
import ContactInfoCard from '@/components/ContactInfoCard.vue'
import SkillCard from '@/components/SkillCard.vue'
import HeroImage from '@/components/HeroImage.vue'
import skillCards from '@/constants/skillCards'
import contactInfoCards from '@/constants/contactInfoCards'

export default defineComponent({
  name: 'Home',
  components: { SkillCard, ContactInfoCard, HeroImage, InfoSnippet },
  setup() {
    return { contactInfoCards, skillCards }
  },
})
</script>

<style lang="stylus" scoped>
.gradient-gray
  background-image linear-gradient(135deg, #edf2f7 12%, #ffffff 100%)
</style>
