<template>
  <div>
    <transition name="fade" mode="out-in">
      <Login v-if="formMode === 'login'" @set-form-mode="setFormMode" />
      <Signup v-else @set-form-mode="setFormMode" />
    </transition>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'
import Login from '@/components/Login.vue'
import Signup from '@/components/Signup.vue'

type FormMode = 'login' | 'signup'

export default defineComponent({
  name: 'LoginSignup',
  components: { Login, Signup },
  setup() {
    const formMode = ref('login' as FormMode)
    const setFormMode = (newFormMode: FormMode) =>
      (formMode.value = newFormMode)

    return {
      formMode,
      setFormMode,
    }
  },
})
</script>

<style lang="stylus" scoped>
easeInOutSine = cubic-bezier(0.37, 0, 0.63, 1)

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-active, .fade-leave-active
  transition opacity 0.5s easeInOutSine
</style>
