<template>
  <div
    class="grid min-h-screen grid-cols-12 font-thin md:items-center gradient"
  >
    <div
      class="self-end col-span-12 px-4 text-center md:col-span-7 md:self-center"
    >
      <img
        class="w-full"
        src="@/assets/chaos.svg"
        alt="Stylised image of someone looking distressed"
      />
    </div>

    <div class="col-span-12 px-4 text-center md:col-span-5 md:text-left">
      <h1 class="mb-4 text-2xl font-medium md:text-3xl">
        This page is lost in a breeze!
      </h1>
      <p class="mb-8 text-md md:text-lg">
        It may have moved or you might have entered an incorrect address.
      </p>
      <a
        href="#"
        class="px-6 py-4 bg-gray-200 border border-black rounded hover:bg-white bg-transition"
        >Go Home →</a
      >
    </div>
  </div>
</template>

<style>
.gradient {
  background-image: linear-gradient(135deg, #c7c8c9 18%, #ffffff 100%);
}

.bg-transition {
  transition: background-color 0.5s;
}
</style>
