<template>
  <input
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
    class="w-2/3 px-3 py-1 mb-2 border border-gray-300 rounded shadow-md sm:w-1/2 lg:w-1/3 xl:w-1/4 hover:border-gray-500 focus:border-indigo-500 border-transition"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'BasicInput',
  props: { modelValue: { required: true, type: String } },
})
</script>
