<template>
  <a :href="href" target="_blank">
    <div
      class="grid h-64 grid-rows-2 my-2 overflow-hidden divide-y rounded shadow-lg opacity-75 opacity-transition hover:opacity-100 focus:opacity-100"
    >
      <img
        class="self-center w-1/4 mx-auto"
        :src="require(`@/assets/${src}`)"
        :alt="alt"
      />
      <div class="px-6 py-4">
        <p class="mb-2 text-xl font-semibold">{{ title }}</p>
        <p class="font-hairline">
          {{ description }}
        </p>
      </div>
    </div></a
  >
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ContactInfoCard',
  props: {
    alt: { required: true, type: String },
    description: { required: true, type: String },
    href: { required: true, type: String },
    src: { required: true, type: String },
    title: { required: true, type: String },
  },
})
</script>

<style scoped>
.opacity-transition {
  transition: opacity 0.5s;
}
</style>
