<template>
  <div class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="mb-8 text-4xl text-center">
      <slot name="title" />
    </h1>

    <BasicInput v-model="email" placeholder="Email" />
    <BasicInput
      v-model="password"
      @keyup.enter="debouncedSubmit"
      type="password"
      placeholder="Password"
    />

    <button
      @click="debouncedSubmit"
      class="px-4 py-2 mt-4 text-white bg-indigo-500 rounded hover:bg-indigo-700 bg-transition"
    >
      {{ buttonText }}
    </button>

    <p class="m-4 text-center">
      <slot name="footer" />
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs } from 'vue'
import debounce from 'lodash/debounce'
import BasicInput from '@/components/BasicInput.vue'

export default defineComponent({
  name: 'EmailPasswordForm',
  components: { BasicInput },
  props: {
    buttonText: { required: true, type: String },
    submit: { required: true, type: Function },
  },
  setup(props) {
    const { submit } = toRefs(props)
    const email = ref('')
    const password = ref('')

    const debouncedSubmit = debounce(
      () => {
        submit.value(email, password)
      },
      1000,
      { leading: true }
    )

    return {
      debouncedSubmit,
      email,
      password,
    }
  },
})
</script>

<style lang="stylus" scoped>
.bg-transition
  transition background-color 0.25s

.border-transition
  transition border-color 0.5s
</style>
