<template>
  <img src="@/assets/humans-talking.svg" alt="Hero image of 2 people talking" />
  <HeroImageLabel class="font-thin text-center text-gray-600" />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import HeroImageLabel from '@/components/HeroImageLabel.vue'

export default defineComponent({
  name: 'HeroImage',
  components: { HeroImageLabel },
})
</script>
