<template>
  <p>
    These little guys are
    <a
      href="https://twitter.com/pablostanley"
      target="_blank"
      class="text-indigo-700"
      >Pablo Stanley's
    </a>
    <a href="https://www.humaaans.com/" target="_blank" class="text-indigo-700"
      >Humaaans.
    </a>
    I'll be using them throughout this site to give it a little a bit of decor.
  </p>
</template>
