<template>
  <h2 class="text-gray-600 uppercase">{{ title }}</h2>
  <p class="mb-4 text-xl font-semibold text-gray-900 md:text-2xl">
    {{ description }}
  </p>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'InfoSnippet',
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
  },
})
</script>
