<template>
  <EmailPasswordForm button-text="Login" :submit="login" id="login">
    <template #title>Welcome!</template>

    <template #footer>
      Don't have an account? You can easily
      <button @click="$emit('set-form-mode', 'signup')" class="text-indigo-700">
        create one</button
      >.
    </template>
  </EmailPasswordForm>
</template>

<script lang="ts">
import { defineComponent, Ref } from 'vue'
import EmailPasswordForm from '@/components/EmailPasswordForm.vue'

export default defineComponent({
  name: 'Login',
  components: { EmailPasswordForm },
  setup() {
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const login = (email: Ref<string>, password: Ref<string>) => {
      console.log(email.value)
    }
    return {
      login,
    }
  },
})
</script>

<style lang="stylus" scoped>
#login
  background-image url('~@/assets/login.svg')
  background-repeat no-repeat
  background-position bottom
  background-size 80%
</style>
