<template>
  <EmailPasswordForm button-text="Sign Up" :submit="signup" id="signup">
    <template #title>Create an Account</template>

    <template #footer>
      Already have an account? Click here to
      <button @click="$emit('set-form-mode', 'login')" class="text-indigo-700">
        login</button
      >.
    </template>
  </EmailPasswordForm>
</template>

<script lang="ts">
import { defineComponent, Ref } from 'vue'
import EmailPasswordForm from '@/components/EmailPasswordForm.vue'

export default defineComponent({
  name: 'SignUp',
  components: { EmailPasswordForm },
  setup() {
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const signup = (email: Ref<string>, password: Ref<string>) => {
      console.log(email.value)
    }
    return {
      signup,
    }
  },
})
</script>

<style lang="stylus" scoped>
#signup
  background-image url('~@/assets/signup.svg')
  background-repeat no-repeat
  background-position bottom 0 left 100%
  background-size 80%
</style>
