<template>
  <div
    class="grid w-48 h-64 grid-cols-1 px-4 pt-4 mx-4 overflow-hidden rounded shadow-xl"
  >
    <img
      class="w-32 pb-2 m-auto rounded"
      :src="require(`@/assets/${src}`)"
      :alt="alt"
    />
    <p
      class="py-4 mt-auto text-2xl font-hairline text-center text-gray-600 border-t border-gray-300"
    >
      {{ title }}
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'SkillCard',
  props: {
    alt: { required: true, type: String },
    src: { required: true, type: String },
    title: { required: true, type: String },
  },
})
</script>
