<template>
  <div id="app" class="min-h-screen gradient-gray">
    <router-view v-slot="{ Component }">
      <transition :name="transitionName" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </div>

  <transition name="fade" mode="out-in">
    <AlertBanner
      v-if="showBanner"
      @click="showBanner = false"
      class="fixed bottom-0 z-10 w-full text-center cursor-pointer"
    >
      <template #default>
        <div class="flex justify-center">
          <p>
            Keyboard users can use the right and left arrow keys to navigate.
            Touchscreen users can swipe left and right.
          </p>
          <SvgCross class="ml-4" />
        </div>
      </template>
    </AlertBanner>
  </transition>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import setupNavigationListeners from '@/util/setupNavigationListeners'
import AlertBanner from '@/components/AlertBanner.vue'
import SvgCross from '@/components/SvgCross.vue'
import router from '@/router'
import routeNames from '@/constants/routeNames'

const Component = defineComponent({
  components: { AlertBanner, SvgCross },
  setup() {
    const transitionName = ref('slide-fade-left')
    setupNavigationListeners()

    /* TODO: The same could be achieved in more performant fashion with a watch on $route
     * but I can't find good documentation on how to do so in Vue 3 yet
     */
    router.beforeEach((to, from, next) => {
      // Fade in on initial page load
      if (!from.name) {
        transitionName.value = 'fade'
        next()
        return
      }
      const toIndex = routeNames.findIndex((name) => name === to.name)
      const fromIndex = routeNames.findIndex((name) => name === from.name)

      if (toIndex > fromIndex) {
        transitionName.value = 'slide-fade-left'
      } else if (toIndex < fromIndex) {
        transitionName.value = 'slide-fade-right'
      } else {
        transitionName.value = 'fade'
      }
      next()
    })

    const showBanner = ref(localStorage.getItem('showBanner'))
    watch(showBanner, (newValue) => {
      if (newValue !== null) {
        localStorage.setItem('showBanner', newValue.toString())
      }
    })

    return {
      showBanner,
      transitionName,
    }
  },
})

export default Component
</script>

<style lang="stylus" scoped>
translate-size = 50vw
easeInOutSine = cubic-bezier(0.37, 0, 0.63, 1)

.gradient-gray
  background-image linear-gradient(135deg, #edf2f7 12%, #ffffff 100%)

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-active, .fade-leave-active
.slide-fade-right-enter-active, .slide-fade-right-leave-active
.slide-fade-left-enter-active, .slide-fade-left-leave-active
  transition all 0.5s easeInOutSine

.slide-fade-right-enter-from, .slide-fade-left-leave-to
  transform translateX(-(translate-size))
  opacity 0

.slide-fade-right-leave-to, .slide-fade-left-enter-from
  transform translateX(translate-size)
  opacity 0
</style>
